@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219.9988 11.1749% 94.701%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 331.1125 87.1904% 87.8482%;
    --primary-foreground: 219.9988 11.1749% 94.701%;
    --secondary: 331.1125 87.1904% 87.8482%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 328.0204 83.4516% 50.1912%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 328.0204 83.4516% 50.1912%;
    --accent-foreground: 223.8136 0% 9.0527%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 331.1125 87.1904% 87.8482%;
    --chart-1: 331.1125 87.1904% 87.8482%;
    --chart-2: 328.0204 83.4516% 50.1912%;
    --chart-3: 213.5605 33.7183% 34.3198%;
    --chart-4: 223.6587 78.718% 47.8635%;
    --chart-5: 226.5426 70.0108% 39.9224%;
    --sidebar: 223.8136 0.0004% 98.0256%;
    --sidebar-foreground: 223.8136 0% 3.9388%;
    --sidebar-primary: 223.8136 0% 9.0527%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0002% 96.0587%;
    --sidebar-accent-foreground: 223.8136 0% 9.0527%;
    --sidebar-border: 223.8136 0.0001% 89.8161%;
    --sidebar-ring: 223.8136 0% 63.0163%;
    --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
    --font-libre: "Libre Baskerville", ui-sans-serif, sans-serif, system-ui;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
}

html,
body {
  @apply bg-[#F0F1F3] text-gray-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
